body {
    background-color: rgb(43, 226, 137);
    height:100vh;
}
.next_letter {
    background-color: black;
    color: rgb(240, 53, 53);
}
.correct{
    color: green;
    font-weight:bold;
}
.mistake{
    color: red;
    font-weight: bold;
}

#timer {
    font-size: 48px;
    margin-bottom: 18px;
    color: white;
}


.words {
    font-size: xx-large;
    margin-top: 7%;
    margin-bottom: 10%;
   border: 8px solid white;
   border-radius: 1rem;
   color: rgb(10, 10, 10);
} 

.typing {
    
    font-size: x-large;
    font-weight: 600;
    padding: 5%;
    border-radius: 1rem;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 2px;
    outline: none;
    color: white;
    background: transparent;
    border:6px ridge rgb(255, 255, 255);
    background-color: rgb(58, 33, 120);
}